备用文件/
封面/
副榜图片/
其他图片/
省流版图片/
视频/
数据/
新曲榜图片/
月回顾图片/
主榜图片/
统计数据/
简易主榜图片/
月回顾数据/
Adobe Premiere Pro Audio Previews/
BGM/

*.mp4
*.png
*.xlsx
*.json
*.prproj
*.prlock
*.html

PS脚本/test.jsx
PR脚本/test.jsx
每日配置.yaml
账号验证.yaml
排除歌手.yaml