备用文件/
封面/
副榜图片/
其他图片/
省流版图片/
视频/
数据/
新曲榜图片/
月回顾图片/
主榜图片/
统计数据/
简易主榜图片/
月回顾数据/
日刊/
周刊/
月刊/
月回顾/
图片/
头像/
可视化/
Adobe Premiere Pro Audio Previews/
BGM/
账号操作/

*.mp4
*.png
*.xlsx
*.json
*.prproj
*.prlock
*.html
*.zip
*.csv
*.psd

PS脚本/test.jsx
PR脚本/test.jsx
账号验证.yaml
排除歌手.yaml
专栏文本.md